/* Estilo general del formulario de búsqueda */
.search-form {
    align-items: center;
}

.custom-input {
    border-radius: 30px;
    border: 2px solid #FFD700; /* Borde dorado */
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.custom-input:focus {
    border-color: #FF4500; /* Cambia a naranja al enfocar */
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.5); /* Efecto de sombra al enfocar */
    outline: none;
}

/* Botón de búsqueda personalizado */
.custom-search-btn {
    background-color: #8530ac; /* Fondo dorado */
    color: #003366; /* Texto oscuro */
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.custom-search-btn:hover {
    background-color: #FF4500; /* Fondo naranja al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
    box-shadow: 0 4px 10px rgba(255, 69, 0, 0.5); /* Sombra al pasar el ratón */
}

/* Botón de filtros personalizado */
.custom-filter-btn {
    background-color: #003366; /* Fondo oscuro */
    color: #3431e2dc; /* Texto dorado */
    border: 2px solid #5ebee4; /* Borde dorado */
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.custom-filter-btn:hover {
    background-color: #784daa; /* Fondo dorado */
    color: #003366; /* Texto oscuro */
    box-shadow: 0 4px 10px rgba(255, 69, 0, 0.5); /* Sombra al pasar el ratón */
}

/* Estilos personalizados para el menú desplegable */
.custom-dropdown {
    background-color: #003366; /* Fondo oscuro */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para el menú */
}

.custom-dropdown .dropdown-item {
    color: #1900ff; /* Texto dorado */
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.custom-dropdown .dropdown-item:hover {
    background-color: rgba(255, 69, 0, 0.3); /* Fondo naranja claro al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
    border-radius: 10px;
}
