/* ----- Estilos para las cards ----- */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ----- Estilos para el mapa ----- */
#map {
    width: 100%;
    height: 100%;
}

/* ----- Estilos para tarjetas turísticas ----- */
.tarjeta-turistica {
    height: auto !important;
    display: block; /* Tarjetas visibles */
    margin-bottom: 15px;
}

.tarjeta-turistica:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #007bff;
    cursor: pointer;
}

.tarjeta-turistica img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 10rem; /* Limita la altura máxima de la imagen */
    object-fit: cover; /* Recorta la imagen si es necesario para que no se deforme */
    object-position: center; /* Centra la imagen recortada dentro del contenedor */
    transition: transform 0.3s ease;
}

/* Para las tarjetas ocultas */
.tarjeta-turistica[style="display: none;"] {
    display: none !important;
}

/* ----- Estilos para las estrellas de valoración ----- */
.valoracion {
    text-align: left;
}

/* ----- Estilos para las etiquetas de lugar ----- */
.categoria-lugar {
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 5px 5px 0 0;
}
.etiqueta-lugar {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 5px 5px 0 0;
}

.categoria-lugar:hover {
    background-color: darkorchid; 
}

/* ----- Estilos para la categoría del lugar ----- */
.categoria-lugar {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 10px 10px;  
}

.categoria-lugar:hover {
    background-color: darkblue;
}

/* ----- Estilos para favoritos activos ----- */
.favorito-activo {
    background-color: #dc3545 !important;
    color: #fff !important;
}

/* Estrellas mostradas en tarjetas de sitio (pudiendo imprimir media estrella dependiendo del promedio de valoración)*/

.star {
    width: 20px;
    height: 20px;
    background-color: #ababab;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.full {
    background-color: rgb(255, 165, 0);
}

.half {
    background: linear-gradient(to right, rgb(255, 165, 0) 50%, #ababab 50%);
}

.highlight {
    background-color: yellow; /* Color de fondo para el resaltado */
    font-weight: bold; /* Opcional: hacer el texto resaltado en negrita */
}
.active-filter {
    background-color: #ffcc00; /* Color de fondo cuando el filtro está activo */
    color: #fff; /* Cambiar el color del texto */
}
.dropdown-active {
    background-color: #ffcc00; /* Color de fondo para resaltar */
    border: 1px solid #007bff; /* Cambia el borde para resaltarlo */
}
.textoModal {
    font-size: 1em;
    background-color: #e6e6e6;
    padding: 0.5em;
    border-radius: 15px;
    margin-top: 0.5em;
}