.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 100%;
}

.tarjeta-turistica:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #007bff;
}

.tarjeta-turistica img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.tarjeta-turistica:hover img {
    transform: scale(1.1); 
}

/* Estilo para las estrellas */
.valoracion {
    text-align: left;
}

.estrella {
    font-size: 20px;
    color: gold; 
}

.estrella:hover {
    cursor: pointer;
}
/* Estilo para las etiquetas */
.etiquetas-lugar {
    display: inline-block; 
    background-color: purple; 
    color: white; 
    padding: 5px 10px;
    border-radius: 15px; 
    font-size: 12px; 
    margin: 5px 5px 0 0;
}

.categoria-lugar {
    display: inline-block; 
    background-color: blue; 
    color: white; 
    padding: 5px 10px;
    border-radius: 15px; 
    font-size: 12px; 
    margin: 10px 10px;  
}


.categoria-lugar:hover{
    background-color: darkblue;
}
.etiquetas-lugar:hover {
    background-color: darkorchid; 
}
