.caja-de-comentarios {
    background-color: #4595e69e; /* Color de fondo oscuro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 20px 0; /* Margen superior e inferior */
}

.comentarios-container {
    max-height: 20rem; /* Altura máxima para el contenedor de comentarios */
    overflow-y: auto; /* Permite desplazamiento vertical */
    background-color: #ffffff; /* Color de fondo del contenedor */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}

.comentarios-container p{
    overflow-wrap: break-word; /* Forzar ajuste de palabras largas */
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
}

.comentario-item {
    background-color: #6c757d; /* Color de fondo de los comentarios */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 15px; /* Margen inferior entre comentarios */
    position: relative; /* Posición relativa para el botón de reportar */
}

.comentario-contenido {
    position: relative; /* Posición relativa para el botón de reportar */
}

.fecha {
    font-size: 0.9em; /* Tamaño de fuente más pequeño para la fecha */
    color: #ccc; /* Color gris para la fecha */
    margin-left: 10px; /* Espaciado a la izquierda */
}

.btn-reportar {
    position: absolute; /* Posición absoluta para el botón de reportar */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la derecha */
    padding: 5px 10px; /* Espaciado interno del botón */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
}

#mostrar-mas {
    display: none; /* Inicialmente oculto */
}

/* Estilos para estrellas usadas en opiniones */

.estrella {
    font-size: 30px;
    color: #ababab;
}

.estrella.hover, .estrella.selected {
    color: rgb(255, 165, 0) !important;
}

.valoracion{
    cursor: pointer;
}


.mensaje-temporal {
    position: fixed;
    top: 20px; /* Ajusta según tu diseño */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Color de fondo verde */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; /* Asegúrate de que se muestre encima de otros elementos */
    opacity: 1;
    transition: opacity 1s;
}

.textoModal {
    font-size: 1em;
    background-color: #e6e6e6;
    padding: 0.5em;
    border-radius: 15px;
    margin-top: 0.5em;
}