/* ----- Estilos adicionales para el header ----- */
#demoFont {
    font-family: "Arial Black", sans-serif;
    font-size: 5dvb;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #6BD1FF;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}

#demoParrafoFont {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #6BD1FF;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

/* ----- Estilos para las cards ----- */
.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

/* ----- Estilos para el cuerpo ----- */
body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

nav {
    padding: 1rem !important;
}

main {
    padding: 1rem !important;
    flex: 1 !important;
}

footer {
    padding: 1rem !important;
    background-color: black;
}

/* ----- Ajustes para pantallas medianas ----- */
@media (min-width: 993px) {
    
    .hidden-option{
        display: none !important;
    }

    .order-element-1{
        order: 1;
    }

    .order-element-2{
        order: 2;
    }

    .order-element-3{
        order: 3;
    }
}
@media (max-width: 992px) {
    
    #nav-header{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #nav-header .nav-item{
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

    #nav-header .nav-link, .nav-item{
        color: #333;
        font-size: 1.5rem !important;
        margin: 0;
        cursor: pointer;
    }

    #nav-header .nav-link:hover, .nav-item:hover{
        color: #ababab;
    }

    #nav-header .dropdown{
        display: none;
    }
    .hidden-option{
        display: inline;
    }

}

@media (max-width: 768px) {

    .order-element-1{
        order: 2;
    }

    .order-element-2{
        order: 3;
    }

    .order-element-3{
        order: 1;
    }
}