#DIVCarrouselImagenesModal img {
    width: 100vh;
    max-width: 400px;
    height: auto;
}

.modal-body {
    max-height: 70rem;
    overflow-y: auto;
}

.modal-custom-width{
    max-width: 1200px; 
    width: 100%; 
}