#DIVCarrouselImagenesModal img {
    width: 100vh;
    max-width: 400px;
    height: auto;
}

/* Clases para usuarios */

.estado-bloqueado {
    color: red !important; 
    font-weight: bold;
}

.estado-activo {
    color: green !important;
    font-weight: bold;
}
