.nav-decoracion{
    list-style: none;
}

.botones-filtros{
align-items: center;
}
.navbar-color {
    background: linear-gradient(to top, rgba(40, 115, 214, 0), rgba(44, 98, 216, 0.7));
    padding: 2rem 3rem;
}
.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.navbar-brand {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar-brand .text-primary {
    color: #FFD700;
}

.navbar-brand .text-danger {
    color: #FF4500;
}
.custom-btn-login, .custom-btn-register {
    padding: 10px 20px;
    background-color: #FFD700;
    border: none;
    color: #25ddfd;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn-login:hover, .custom-btn-register:hover {
    background-color: #003366;
    color: #FFD700;
}

.custom-btn-logout {
    background-color: #FF4500;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.custom-btn-logout:hover {
    background-color: #FF6347;
}

/* ----- Menú desplegable personalizado ----- */
.custom-dropdown {
    background-color: #5953b3;
    border-radius: 10px;
    padding: 0.5rem 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: none;
    width: auto;
}

.custom-dropdown .dropdown-item {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.custom-dropdown .dropdown-item img {
    width: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #c23ddd;
    color: #000000;
    border-radius: 5px;
}

.custom-dropdown.show {
    background-color: #5858d9;
    border-radius: 10px;
}

/* ----- Imagen de Google mostrada en la interfaz ----- */
.google-logo {
    max-width: 1.5rem !important;
    margin-right: 0.5rem !important;
}
.active-filter {
    background-color: #ffcc00; /* Color de fondo cuando el filtro está activo */
    color: #fff; /* Cambiar el color del texto */
}


/* ----- Media queries para pantallas pequeñas ----- */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;  /* Ajustar tamaño del logo */
    }

    .custom-btn-login, .custom-btn-register {
        padding: 8px 16px;  /* Ajustar padding de los botones */
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;  /* Ajustar tamaño de fuente de los enlaces */
        margin-left: 0.5rem;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 1.5rem 2rem;  /* Ajustar padding en dispositivos pequeños */
    }

    .navbar-toggler {
        font-size: 0.9rem;
    }

    .custom-dropdown .dropdown-item {
        font-size: 0.85rem;  /* Ajusta el tamaño de fuente */
        padding: 0.4rem 0.8rem;  /* Reducir el padding en dispositivos pequeños */
    }

    .custom-btn-login, .custom-btn-register, .custom-btn-logout {
        padding: 8px 15px;  /* Ajustar padding en dispositivos pequeños */
    }
}